<div class="layui-form">
    <table class="layui-table mt10" lay-even="" lay-skin="row">
        <colgroup>
            <col>
            <col >
            <col >
        </colgroup>
        <thead>
            <tr>
                <th>模块信息</th>
                <th>模块版本</th>
                <th>操作</th>
            </tr> 
        </thead>
        <tbody>
            {volist name="module_list" id="vo" empty="$emptyTips"}
            <tr>
                <td>
                    <div class="module-list-info">
                        {if condition="$vo['icon']"}
                            <img src="{$vo['icon']}" width="80" height="80">
                        {else /}
                            <img src="/static/system/image/app.png" width="80" height="80">
                        {/if}
                        <div class="txt">
                            <h3>{$vo['title']}</h3>
                            <p><span>简&nbsp;&nbsp;&nbsp;&nbsp;介：</span>{$vo['intro']}</p>
                        </div>
                    </div>
                </td>
                <td>{$vo['version']}</td>


                <td>
                    {if condition="$vo['system'] neq 1"}
                        <div class="layui-btn-group">
                            {switch name="vo['status']"}
                                {case value="0"}
                                    <a href="{:url('status?id='.$vo['id'].'&val=1')}" class="layui-btn layui-btn-primary layui-btn-sm j-tr-status">启用</a>
                                    <a href="{:url('upgrade/lists?app_type=module&identifier='.$vo['identifier'])}" class="layui-btn layui-btn-primary layui-btn-sm">更新</a>
                                    <a href="{:url('unload?id='.$vo['id'])}" class="layui-btn layui-btn-primary layui-btn-sm">卸载</a>
                                {/case}
                                {case value="1"}
                                    <a href="{:url('status?id='.$vo['id'].'&val=0')}" class="layui-btn layui-btn-primary layui-btn-sm j-tr-status">停用</a>
                                {/case}
                                {default /}
                            {/switch}
                        </div>
                    {else /}
                        <button class="layui-btn layui-btn-mini layui-btn-disabled">不可操作</button>
                    {/if}
                </td>
            </tr>
            {/volist}
        </tbody>
    </table>
</div>
{include file="block/layui" /}
