<table class="layui-table" lay-skin="line">
    <colgroup>
        <col width="160">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th colspan="2">
            <a href="{:url('edit')}?id={$visitor.id}" class="layui-btn layui-btn-xs layui-btn-normal">修改</a>
            <a href="{:url('pdf')}?id={$visitor.id}" class="layui-btn layui-btn-xs layui-btn-warm">打印</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td align="right">被上访人:</td>
        <td>{$come.name}</td>
    </tr>
    <tr>
        <td align="right">性别:</td>
        <td>{if $come.sex ==1}男{else/}女{/if}</td>
    </tr>
    <tr>
        <td align="right">居住地址:</td>
        <td>{$come.address}</td>
    </tr>
    <tr>
        <td align="right">联系电话:</td>
        <td>{$come.phone}</td>
    </tr>
    <tr>
        <td align="right">上访时间:</td>
        <td>{$come.call_time}</td>
    </tr>
    <tr>
        <td align="right">上访主要内容:</td>
        <td>{$come.call_content}</td>
    </tr>
    <tr>
        <td align="right">办理结果:</td>
        <td>{$come.back_content}</td>
    </tr>
    <tr>
        <td align="right">备注:</td>
        <td>{$come.other}</td>
    </tr>

    <tr>
        <td align="right">上传图片:</td>
        <td>
            {if $come.images != ''}
            {foreach \json_decode($come.images) as $v}
            <a href="/upload/{$v}"><img src="/upload/{$v}" ></a>
            {/foreach}
            {/if}
        </td>
    </tr>
    </tbody>
</table>
{include file="system@block/layui" /}