<button type="button" tooltip="新增"  style="display:none;"  data-toggle="modal" data-target="#handicappedModal" id="aa" data-backdrop="false"></button>
<div class="modal fade" id="handicappedModal" style="top: 8%;">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">残疾人信息</h4>
            </div>
            <div class="modal-body">

                <div class="layui-form-item">
                    <label  class="layui-form-label" style="width: 20%;">残疾人姓名:</label>
                    <div class="layui-input-inline" style="width: 75%;">
                        <input type="text"  placeholder="请输入残疾人姓名(必填)"  class="layui-input" v-model='handicapped.name'>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label  class="layui-form-label" style="width: 20%;">残疾证号:</label>
                    <div class="layui-input-inline" style="width: 75%;">
                        <input type="text" placeholder="请输入残疾证号(必填)" class="layui-input" v-model='handicapped.number'>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label  class="layui-form-label" style="width: 20%;">残疾类别:</label>
                    <div class="layui-input-inline" style="width: 75%;">
                        <input type="text" placeholder="请输入残疾类别(必填)" class="layui-input" v-model='handicapped.type'>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label  class="layui-form-label" style="width: 20%;">残疾等级:</label>
                    <div class="layui-input-inline" style="width: 75%;">
                        <input type="text" placeholder="请输入残疾类别(必填)" class="layui-input" v-model='handicapped.level'>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="layui-btn layui-btn-primary" data-dismiss="modal" id="aa_close" @click="aa_close">关闭</button>
                <button v-if="handicapped_status" type="button" class="layui-btn"  @click='add_handicapped_info'>提交</button>
                <button  v-if="handicapped_status===false" type="button" class="layui-btn"  @click='update_handicapped_info'>修改</button>
            </div>
        </div>
    </div>
</div>
