<div class="layui-form hisi-search" id="search_form">
    <div class="layui-card-header">数据筛选</div>
    <div class="layui-card-body">

        <form action="{:url()}" method="get" id="system-table-search">
            <div class="layui-form-item">
                <label class="layui-form-label">小区名称&nbsp;&nbsp;</label>
                <div class="layui-input-inline" >
                    <input type="text" class="layui-input" name="housing_estate"  placeholder="请输入小区">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">楼&nbsp;&nbsp;</label>
                <div class="layui-input-inline" >
                    <input type="text" class="layui-input"  name="building"  placeholder="请输入楼号">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">门&nbsp;&nbsp;</label>
                <div class="layui-input-inline" >
                    <input type="text" class="layui-input"  name="door"  placeholder="请输入门号">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">户&nbsp;&nbsp;</label>
                <div class="layui-input-inline" >
                    <input type="text" class="layui-input"  name="no"  placeholder="请输入户号">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">居民姓名&nbsp;&nbsp;</label>
                <div class="layui-input-inline" >
                    <input type="text" class="layui-input"  name="name"  placeholder="请输入姓名">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">居民身份证&nbsp;&nbsp;</label>
                <div class="layui-input-inline" >
                    <input type="text" class="layui-input"  name="id_number"  placeholder="请输入身份证">
                </div>
            </div>
            <div class="layui-form-item hisi-search-btn">
                <div class="layui-input-inline">
                    <button type="submit" class="layui-btn layui-btn-normal layui-icon layui-icon-search">查询</button>
                </div>
            </div>
        </form>

    </div>
</div>
<style>
    #search_form{
        display: none;
    }
</style>
