<style type="text/css">
    .layui-table-tool-temp{padding-right:0;}
</style>
<table id="dataTable"></table>

{include file="block/layui" /}

<script type="text/javascript">
    layui.use(['table', 'jquery', 'layer', 'laytpl', 'form', 'md5'], function() {
        var si, 
            table = layui.table, 
            $ = layui.jquery, 
            layer = layui.layer, 
            laytpl = layui.laytpl,
            form = layui.form,
            identifier = '{:config("cloud.identifier")}',
            clientIp = '{:get_client_ip()}',
            md5 = layui.md5;

        var getParam = function(name) { 
                var value = "", isFound = !1, search = this.location.search; 
                if (search.indexOf("?") == 0 && search.indexOf("=") > 1) { 
                    var params = unescape(search).substring(1, search.length).split("&"), i = 0; 
                    while (i < params.length && !isFound) {
                        params[i].indexOf("=") > 0 && params[i].split("=")[0].toLowerCase() == name.toLowerCase() && (value = params[i].split("=")[1], isFound = !0), i++ 
                    }
                } 
                return value == "" && (value = null), value;
            };

        var install = function (param) {
            var index=layer.msg('正在安装应用中，请勿刷新或关闭此页面',{
                            icon:16,
                            shade:0.3,
                            time:0
                        });
            $.get("{:url('install')}", param, function(res) {
                if (res.code == 1) {
                    layer.msg('安装成功，稍后将自动刷新页面....');
                    setTimeout(function(){
                        location.reload();
                    }, 2000);
                } else {
                    layer.msg(res.msg);
                }
                layer.close(index);

            }, 'json');
        };



        //云平台注册/绑定界面
        var popBindCloud = function ()
        {
            layer.open({
                title:'绑定云平台 / <a href="{$api_url}" target="_blank" class="mcolor">注册云平台</a>',
                id:'popLoginBox',
                area:'380px',
                content:$('#popCloudBind').html(),
                btn:['确认绑定', '取消'],
                btnAlign:'c',
                move:false,
                yes:function(index) {
                    var tips = $('#resultTips'), 
                        account = $('#cloudAccount').val(), 
                        pwd = $('#cloudPassword').val();
                    tips.html('请稍后，云平台通信中...');
                    $.post('{:url("upgrade/index")}', {account: account, password: pwd}, function(res) {
                        if (res.code == 1) {
                            layer.msg(res.msg);
                            setTimeout(function() {
                                location.reload();
                            }, 3000);
                        } else {
                            tips.addClass('red').html(res.msg);
                            setTimeout(function() {
                                tips.removeClass('red').html('');
                            }, 3000);
                        }
                    });
                    return false;
                },
                success: function() {
                    $('#cloudForm .layui-word-aux').html('温馨提示：您需要登录云平台后才能安装此应用');
                }
            });
        }


        //table数据
        table.render({
            elem: '#dataTable'
            ,url: '{:url('', input('get.'))}'
            ,page: true
            ,toolbar: '#toolbar'
            ,defaultToolbar: []
            ,text: {none: '对不起！暂无相关应用，不过不用担心，一大波开发者正在开发中....'}
            ,cols: [[
                {field:'module_name', width:180, title: '模块名称'}
                ,{field:'intro', title: '模块简介'}
                ,{width:160, title: ( identifier ? '<a href="javascript:void(0);" class="layui-btn layui-btn-xs layui-btn-normal j-bind-cloud">重新绑定</a>' : ''), templet: '#buttonTpl'}
            ]]
            ,done:function(res, curr, count) {
                var type = getParam('type'), catId = getParam('cat_id');
                $('#type'+(type ? type : 1)).removeClass('layui-btn-primary').addClass('layui-btn-normal');
                $('#cats'+(catId ? catId : 0)).removeClass('layui-btn-primary').addClass('layui-btn-normal');
            }
        });

        // 按条件筛选
        $(document).on('click', '.app-filter', function() {
            var that = $(this), 
                _url = '{:url('')}',
                _id = that.attr('data-id'),
                type = getParam('type'),
                catId = getParam('cat_id');

            if (that.attr('data-type') == 1) {
                _url += '?type='+that.attr('data-id')+(catId ? '&cat_id='+catId : '');
            } else {
                _url += '?cat_id='+that.attr('data-id')+(type ? '&type='+type : '');
            }

            history.replaceState('', '', _url);
            table.reload('dataTable', {
              url: _url,
              page: 1
            });
            return false;
        });

        // 弹出安装界面
        $(document).on('click', '.pop-install', function() {
            var that = $(this), data = new Function('return '+ that.attr('data-data'))();
            if (identifier == null || identifier == '') {
                popBindCloud();
            } else {
                var index = layer.open({
                               content: '是否安装'+data.module_name+'?'
                                ,yes: function(index, layero){
                                    //版本检查
                                    var checkParam={
                                        module_identifier:data.module_identifier,
                                        identifier:"{:config('cloud.identifier')}",
                                        frame_version:"{:config('committee.version')}"
                                    };
                                    $.ajax({
                                        url:"{$api_url}"+'api/modules/check',
                                        method:'POST',
                                        data:checkParam,
                                        success:function (res) {
                                            if(res.code == 1){
                                                var installParam = {
                                                   file_path:res.file_path,
                                                    module_name:data.alias
                                                };
                                                 install(installParam);
                                            }else {
                                                layer.msg(res.msg);
                                            }
                                        }
                                    });

                                    layer.close(index);
                                }
                            });
            }
            return false;
        });

        // 弹出绑定云平台界面
        $(document).on('click', '.j-bind-cloud', function() {
            popBindCloud();
        });

    });
</script>



<script type="text/html" id="toolbar">
    <dl class="apps-filter-tr">
        <dt>应用类型：</dt>
        <dd>
            <a href="javascript:void(0);" id="type1" data-type="1" data-id="1" class="layui-btn layui-btn-primary layui-btn-xs app-filter">模块</a>
        </dd>
    </dl>
</script>



<script type="text/html" id="buttonTpl">
    <a href="{$api_url}api/modules/{{ d.id }}" class="layui-btn layui-btn-xs layui-btn-primary j-iframe-pop" width="800" title="详情预览">详情</a>{{# if (d.install) { }}{{# if (d.upgrade == 1) { }}<a href="{:url('upgrade/lists')}?app_type={{ d.type == 1 ? 'module' : (d.type == 2 ? 'plugins' : 'theme') }}&identifier={{ d.install }}" target="_blank" class="layui-btn layui-btn-xs">升级</a>{{# } else { }}<a href="javascript:void(0);" title="暂无新版本" class="layui-btn layui-btn-xs layui-disabled">升级</a>{{# } }}{{# } else { }}<a href="#{:url('install')}?app_id={{ d.id }}" data-data='{{ JSON.stringify(d) }}' class="layui-btn layui-btn-xs layui-btn-normal pop-install">安装</a>{{# } }}{{# if (d.preview_url) { }}<a href="{{ d.preview_url }}" class="layui-btn layui-btn-xs layui-btn-primary">演示</a>{{# } }}
</script>





<script type="text/html" id="popCloudBind">
    <form class="layui-form layui-form-pane page-form" action="{:url()}" method="post" id="cloudForm">
        <div class="layui-form-item">
            <label class="layui-form-label">云平台账号</label>
            <div class="layui-input-inline w200">
                <input type="text" class="layui-input" id="cloudAccount" name="account" lay-verify="required" autocomplete="off" placeholder="请输入云平台登陆账号">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">云平台密码</label>
            <div class="layui-input-inline w200">
                <input type="password" class="layui-input" id="cloudPassword" name="password" lay-verify="required" autocomplete="off" placeholder="请输入云平台登陆密码">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-mid layui-word-aux" style="padding:0!important;">
                温馨提示：确认绑定，表示您已了解并同意<a href="#" class="mcolor2">云平台相关协议</a>
            </div>
        </div>
        <div class="layui-form-item" id="resultTips"></div>
    </form>
</script>