<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" action="{:url()}" method="post" id="editForm">
                <div class="layui-form-item">
                    <label class="layui-form-label">证明人:</label>
                    <div class="layui-input-inline" style="width: 75%;">
                        <input type="text" name="name" lay-verify="required"  placeholder="请填写证明人" class="layui-input field-name">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">社区名称:</label>
                    <div class="layui-input-inline" style="width: 75%;">
                        <input type="text" name="community_name" lay-verify="required"   placeholder="请填写社区名称" class="layui-input field-community_name">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">居住地址:</label>
                    <div class="layui-input-inline" style="width: 75%;">
                        <input type="text" name="present_address" lay-verify="required" placeholder="请填写居住地址" class="layui-input field-present_address">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">户籍地址:</label>
                    <div class="layui-input-inline" style="width: 75%;">
                        <input type="text" name="residence_address" lay-verify="required" placeholder="请填写户籍地址" class="layui-input field-residence_address">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">使用:</label>
                    <div class="layui-input-inline" style="width: 75%;">
                        <input type="text" name="use" lay-verify="required" placeholder="请填写使用" class="layui-input field-use">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">依据:</label>
                    <div class="layui-input-inline" style="width: 75%;">
                        <input type="text" name="basis" lay-verify="required" placeholder="请填写依据" class="layui-input field-basis">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">抬头:</label>
                    <div class="layui-input-inline" style="width: 75%;">
                        <input type="text" name="title" lay-verify="required" placeholder="请填写依据" class="layui-input field-title">
                    </div>
                </div>

                <div class="layui-card">
                    <div class="layui-card-header">图片上传</div>
                    <div class="layui-card-body">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn" id="upload_images">点击上传</button>
                            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                                预览图：
                                <div class="layui-upload-list" id="upload-more-list"></div>
                            </blockquote>
                        </div>
                    </div>
                </div>
                {if (request()->action() == 'add')}
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        {:token()}
                    </div>
                </div>
                <div class="pop-bottom-bar hisi-footer">
                    <button type="submit" class="layui-btn layui-btn-normal" lay-submit lay-filter="formSubmit" hisi-data="{pop: true, refresh: true}">提交保存</button>
                    <a href="{:url('index')}" class="layui-btn layui-btn-primary ml10">返回</a>
                </div>
                {else /}
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        {:token()}
                    </div>
                    <input type="hidden" class="field-id" name="id">
                </div>
                <div class="pop-bottom-bar hisi-footer">
                    <button type="submit" class="layui-btn layui-btn-normal" lay-submit lay-filter="formSubmit" hisi-data="{pop: true, refresh: true}">提交修改</button>
                    <a href="{:url('index')}" class="layui-btn layui-btn-primary ml10">返回</a>
                </div>
                {/if}
            </form>
        </div>
    </div>
</div>
{include file="system@block/layui" /}
<script>
    var formData = {:json_encode($formData)};
    layui.use(['form', 'func','upload'], function() {
        var $ = layui.jquery, form = layui.form ,uplaod=layui.upload;
        layui.func.assign(formData);

        uplaod.render({
            elem: '#upload_images',
            url:"aa"
            ,multiple: true
            ,before: function(obj){
                    //预读本地文件示例，不支持ie8
                    obj.preview(function(index, file, result){
                        $('#upload-more-list').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                    });
                }
            ,done: function(res){
                    //上传完毕
                }
                });


    });
</script>