<script type="text/html" id="select">
    <form class="layui-form layui-form-pane page-form"  action="{:url()}" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">证明人</label>
            <div class="layui-input-inline" style="width: 75%">
                <input type="text" class="layui-input" id="name" name="name"  placeholder="请输入证明人">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">编号</label>
            <div class="layui-input-inline" style="width: 75%">
                <input type="password" class="layui-input" id="number" name="number"  placeholder="请输入编号">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开据人</label>
            <div class="layui-input-inline" style="width: 75%">
                <input type="password" class="layui-input" id="charge_name" name="charge_name"  placeholder="请输入开据人">
            </div>
        </div>

    </form>

</script>
