
<div class="layui-form hisi-search" id="search_form">
    <div class="layui-card-header">数据筛选</div>
    <div class="layui-card-body">

        <form action="{:url()}" method="get" id="system-table-search">
            <div class="layui-form-item">
                <label class="layui-form-label">编号</label>
                <div class="layui-input-inline" >
                    <input type="text" class="layui-input" id="number" name="number"  placeholder="请输入编号">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">证明人</label>
                <div class="layui-input-inline" >
                    <input type="text" class="layui-input" id="name" name="name"  placeholder="请输入证明人">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">开据人</label>
                <div class="layui-input-inline" >
                    <input type="text" class="layui-input" id="charge_name" name="charge_name"  placeholder="请输入开据人">
                </div>
            </div>
            <div class="layui-form-item hisi-search-btn">
                <div class="layui-input-inline">
                    <button type="submit" class="layui-btn layui-btn-normal layui-icon layui-icon-search">查询</button>
                </div>
            </div>
        </form>

    </div>
</div>
<style>
    #search_form{
        display: none;
    }
</style>