<table class="layui-table" lay-skin="line">
    <colgroup>
        <col width="160">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th colspan="2">
            <a href="{:url('edit')}?id={$certificate.id}" class="layui-btn layui-btn-xs layui-btn-normal">修改</a>
            <a href="{:url('pdf')}?id={$certificate.id}" class="layui-btn layui-btn-xs layui-btn-warm">打印</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td align="right">证明人:</td>
        <td>{$certificate.name}</td>
    </tr>
    <tr>
        <td align="right">社区名称:</td>
        <td>{$certificate.community_name}</td>
    </tr>
    <tr>
        <td align="right">户籍地址:</td>
        <td>{$certificate.residence_address}</td>
    </tr>
    <tr>
        <td align="right">现居住地址:</td>
        <td>{$certificate.present_address}</td>
    </tr>
    <tr>
        <td align="right">户籍地址:</td>
        <td>{$certificate.residence_address}</td>
    </tr>
    <tr>
        <td align="right">使用:</td>
        <td>{$certificate.use}</td>
    </tr>
    <tr>
        <td align="right">依据:</td>
        <td>{$certificate.basis}</td>
    </tr>
    <tr>
        <td align="right">抬头:</td>
        <td>{$certificate.title}</td>
    </tr>

    <tr>
        <td align="right">上传图片:</td>
        <td>
            {if $certificate.images != ''}
            {foreach \json_decode($certificate.images) as $v}
            <a href="/upload/{$v}"><img src="/upload/{$v}" ></a>
            {/foreach}
            {/if}
        </td>
    </tr>
    </tbody>
</table>
{include file="system@block/layui" /}